__pycache__/
save/
logs/
*.h5
*.npy
*.mp4
*DS_Store
data/plots/
data/plots_relative_full/
data/paired_trajectories/
data/paired_trajectories_insert_place/
data/warped_trajectories/
data/plots_warped_full/
data/reassemble_extra_info/
wandb/
*.csv
model_comparisons/
compare_config.json
visualizations/
